bcrypt
python-docx
fpdf
google-generativeai
PyPDF2
streamlit
pandas
plotly
mistralai
requests
pytesseract
pdf2image
openai
Pillow
pdfplumber
torch
torchvision
transformers
PyGithub
streamlit
psycopg2-binary
bcrypt
google-cloud-storage
google-generativeai
requests
PyPDF2
pdfplumber
Pillow
torch
torchvision
docx
fpdf
mistralai
openai
plotly
pandas